

<launch>
 <arg name="model" default="$(env TURTLEBOT3_MODEL" doc="model type [burger, waffle, waffle_pi]"/>
 <!-- TurtleBot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">   
	<!--    <arg name="model" value="$(arg model)" /> -->
   </include> 

  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">  
    	    <remap from="image" to ="/d400/depth/image_rect_raw"/>    
	    <remap from="camera_info" to ="/d400/depth/camera_info"/>   
	    <param name="output_frame_id" value="base_scan"/>    
   </node>  



 <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
            <arg name="rtabmap_args"       value="--delete_db_on_start"/>
            <arg name="frame_id"           value="d400_link"/>
	    <arg name="subscribe_scan"	   value="true"/> 
	    <arg name="depth"		   value="true"/> 
         <!--    <arg name="subscribe_rgbd"	   value="true"/> -->
	 <!--    <arg name="subscribe_depth"    value="true"/> -->
            <arg name="visual_odometry"    value="false"/>
            <arg name="odom_frame_id"           default="odom"/>      
            <arg name="rgb_topic"          value="/d400/color/image_raw"/>
            <arg name="camera_info_topic"  value="/d400/color/camera_info"/>
	    <arg name="depth_topic"        value="/d400/depth/image_rect_raw"/>
	   <!--   <arg name="depth_camera_info_topic"      value="/d400/depth/camera_info"/> -->
            <arg name="queue_size"         value="10"/>
            <arg name="rviz"               value="true"/>
            <arg name="rtabmapviz"         value="false"/>

 </include>

</launch>
